<header class="app-header">
    <div class="logo">
      <img src="./../../../assets/images/Queue-logo2.webp" alt="App Logo" />
      <span class="logo-font">Queue Management</span>
    </div>
    <!-- <nav *ngIf="isLoggedIn" class="logo">
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/logout">Logout</a></li>
      </ul>
    </nav> -->

    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav ms-auto align-items-sm-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle c-brand-orange" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Step 1
          </a>
          <div class="dropdown-menu dropdown-menu-right mb-15 cursor-pointer" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:void(0);">Step 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item bg-brand-orange text-white cursor-pointer c-inherit" href="javascript:void(0);">
              logout
            </a>
          </div>
          <ul class="navbar-nav justify-content-end">
            <li>
              <div class="nav-link c-inherit ff-700">
                Vaibhav
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>


  </header>  