.btn {
    background-color: #282c34;
    color: #fff;
}

.btn:hover {
    background-color: #5d5e61;
    color: #fff;
}

.mat-card {
    height: auto
}

.responsive-container-block {
    padding-right: 10px;
    display: flex;
}

.text-blk.headingText {
    font-size: 25px;
    font-weight: 700;
}

.text-blk.subHeadingText {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.text-blk.description {
    font-size: 22px;
    line-height: 34px;
}

.aboutusDetails {
    margin: 10px;

}