<mat-card>
    <div class="responsive-container-block">
        <img class="mainImg col-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
        <div class="aboutusDetails col-6">
            <p class="text-blk headingText">
                Our Mission
            </p>
            <p class="text-blk subHeadingText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p class="text-blk description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse
                ac
                eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
                Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
            </p>
            <div class="button-container">
                <button class="btn">Explore</button>
            </div>
        </div>
    </div>
</mat-card>
  