<mat-card class="first-card">
  <mat-card-header>
    <mat-card-title>Staff Master</mat-card-title>
    <mat-card-subtitle>Staff of our Hotel</mat-card-subtitle>
    <div class="button-container">
      <button class="btn" (click)="openAddStaffModal()">Add Staff</button>
    </div>
  </mat-card-header>
</mat-card>


<mat-card appearance="outlined" class="second-card">
  <mat-card-actions>
    <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>Name </th>
            <th>Contact</th>
            <th>Address</th>
            <th>Information</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Maria Anders</td>
            <td class="btnClass">
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>Maria Anders</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Roland Mendel</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Roland Mendel</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Roland Mendel</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Roland Mendel</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-actions>
</mat-card>

  <div class="mat-modal-container" *ngIf="isModalOpen">
    <h2 mat-dialog-title>Add Staff</h2>
    <mat-dialog-content>
      <form [formGroup]="addStaffForm">
        <!-- Name Input -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter name" formControlName="name" />
        </mat-form-field>
  
        <!-- Contact Input -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contact</mat-label>
          <input matInput placeholder="Enter contact" formControlName="contact" />
        </mat-form-field>
  
        <!-- Address Input -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Enter address"
            formControlName="address"
          ></textarea>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="closeModal()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        (click)="addStaff()"
        [disabled]="!addStaffForm.valid"
      >
        Save
      </button>
    </mat-dialog-actions>
  </div>
  