 .btn {
   font-size: 14px;
   padding: 5px 10px;
 }

  /* Add spacing between cards */
 .first-card {
   padding: 10px 10px 5px 10px;
   margin: 0px 0px 5px 0px;
 }

 .mat-card-header {
   position: relative;
 }

 .button-container {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
 }

 .button-container button {
   background-color: #282c34;
   color: #fff;
 }

.second-card {
  padding: 15px;
}

/* Make sure the table is scrollable */
.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

/* Prevent text from breaking weirdly */
th, td {
  white-space: nowrap;
}

/* Reduce padding on small screens */
@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }
  .btn {
    padding: 2px 6px;
    font-size: 12px;
  }
}
